html, body {
    height: 100%;
}

body {
    background-color: $lightGrey;
    font-family: $font;
    font-size: 1em;
    & > svg {
        height: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.main-header {
    background-color: $green;
    color: $textOnGreen;
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

.main-section {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    h4 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.25em;
    }
    h5 {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 0.25em;
    }
    small {
        font-size: 0.5em;
    }
    .centerContent {
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.main-section-with-sidebar {
    box-sizing: border-box;
    float: right;
    min-height: 100%;
    overflow: hidden;
    padding: 2%;
    width: 90%;
}

.main-menu {
    background-color: $green;
    color: $textOnGreen;
    cursor: default;
    float: left;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 10%;
    & > .menu {
        float: left;
        height: 100%;
        margin-top: 1.5em;
        width: 100%;
        & > div, & > a{
            cursor: pointer;
            display: block;
            font-size: 7vmin;
            height: 2em;
            padding: 0.5em 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            p {
				@media screen and (min-width: 100px) {
					display: none;
				}
                font-size: 0.3em;
                margin-top: 0.5em;
				overflow: hidden;
				text-overflow: ellipsis;
            }
        }
        & > *:hover {
            background-color: $darkGreen;
        }
        & > .selected {
            background-color: $darkGreen;
        }
        .menu-option {
            left: 50%;
			overflow: hidden;
            position: absolute;
			text-overflow: ellipsis;
            top: 50%;
            transform: translate(-50%, -50%);
			width: 100%;
        }
    }
}

.splash-header {
    background-color: $green;
    color: $textOnGreen;
    font-weight: bold;
    height: 20vh;
    padding: 1em 0;
    position: relative;
    width: 100%;
    .hex-row {
        display: inline-block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        .hex {
            position: relative;
            float: left;
            width: 6vw;
            height: 10vw;
            z-index: 1vw;
            margin-left: 5vw;
            margin-right: 5vw;
            background: $lightGreen;
            transition: all 0.2s;
            line-height: 10em;
            text-align: center;
            &:before{
                content: " ";
                position: absolute;
                left: -2.95vw;
                border-right: 3vw solid $lightGreen;
                border-top: 5vw solid transparent;
                border-bottom: 5vw solid transparent;
                z-index: 100;
                transition: all 0.2s;
                top: 0;
            }
            &:after {
                content: " ";
                position: absolute;
                right: -2.9vw;
                border-left: 3vw solid $lightGreen;
                border-top: 5vw solid transparent;
                border-bottom: 5vw solid transparent;
                z-index: 100;
                transition: all 0.2s;
                top: 0;
            }
            .hex-content {
                font-size: 1vw;
                line-height: 1.25vw;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                z-index: 999;
                i {
                    font-size: 3vw;
                }
            }
        }
    }
}

.splash-content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    width: 80%;
    p {
        margin: 1em auto;
    }
    .socialIcons {
        padding: 1em;
        i {
            margin: 0.5em;
        }
    }
    .loginRegisterZone {
        margin: 0 auto;
        text-align: center;
        width: 20em;
    }
    .loginButton, .registerButton {
        background-color: $green;
        border: none;
        border-radius: 0.3em;
        color: $textOnGreen;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        margin: 1em 1em 2em 1em;
        padding: 1em;
        text-align: center;
        text-decoration: none;
        width: 6em;
    }
}

.loginArea {
    margin: 1em auto;
    overflow: hidden;
    width: 50%;
    h2 {
        font-size: 2em;
        font-weight: bold;
    }
    label {
        display: block;
        font-weight: bold;
        margin: 1em 0;
        input {
            border: 1px solid #CCCCCC;
            display: block;
            margin: 0.1em 0;
            padding: 0.25em;
            width: 100%;
        }
    }
    button {
        background-color: $green;
        border: none;
        border-radius: 0.3em;
        color: $textOnGreen;
        cursor: pointer;
        display: block;
        font-size: 1em;
        font-weight: bold;
        margin: 1em auto 2em auto;
        padding: 1em;
    }
    a {
        color: $green;
        margin-left: 0.5em;
        text-decoration: none;
    }
    p {
        line-height: 1.25em;
    }
    .leftSide {
        float: left;
    }
    .rightSide {
        float: right;
        text-align: center;
    }
    .loginOptions {
        margin: 1em auto;
        width: 10em;
    }
}

.colour-facebook {
    color: $facebookBg;
}

.colour-twitter {
    color: $twitterBg;
}

.colour-gplus {
    color: $googleBg;
}

.colour-linkedin {
    color: $linkedInBg;
}

.socialButton {
    display: block;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    margin: 0.5em;
    text-align: center;
    text-decoration: none;
    width: 7em;
    &.localButton {
        background-color: $green;
        color: #FFFFFF;
    }
    &.facebookButton {
        background-color: $facebookBg;
        color: #FFFFFF;
    }
    &.twitterButton {
        background-color: $twitterBg;
        color: #FFFFFF;
    }
    &.googleButton {
        background-color: $googleBg;
        color: #FFFFFF;
    }
    &.linkedInButton {
        background-color: $linkedInBg;
        color: #FFFFFF;
    }
}

.extendedButton {
    clear: both;
    float: left;
    overflow: hidden;
    .socialButton {
        display: inline-block;
        margin: 0.5em 0em 0.5em 0.5em;
    }
    .buttonExtension {
        background-color: $darkGrey;
        display: inline-block;
        line-height: 1.5em;
        padding: 0.5em 0.75em;
        margin-right: 0.5em;
    }
}

/*
* Companies Specific Styles
*/

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    .ui-menu-item {
        cursor: pointer;
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0.5em;
        &.ui-state-focus, &.ui-state-hover, &.ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: $green;
        }
    }
}

.ui-helper-hidden-accessible {
    display: none;
}

.addCompany {
    background-color: #FFFFFF;
    height: 4.5em;
    position: relative;
    #symbolsearch {
        border: none;
        box-sizing: border-box;
        font-size: 1.5em;
        left: 0;
        line-height: 2em;
        padding: 0.5em;
        position: absolute;
        top: 0;
        text-overflow: ellipsis;
        width: 70%;
        &:focus {
            outline: none;
        }
    }
    .searchBullet {
        background-color: $green;
        box-sizing: border-box;
        color: #FFFFFF;
        font-size: 1.5em;
        line-height: 2em;
        padding: 0.5em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 30%;
    }
    .confirmPrompt {
        cursor: pointer;
    }
    .hide {
        display: none;
    }
}
.companiesArea {
    border-box: box-sizing;
    margin: 1em;   
    .companies {
        width: 100%;
        thead {
            font-weight: bold;
        }
    }
}
.company {
    &:hover {
        background-color: $darkGrey;
    }
    td {
        cursor: pointer;
        padding: 0.25em;
    }
}

.news {
    #loading {
        font-weight: bold;
        height: 10em;
        left: 50%;
        margin-left: -5em;
        margin-top: -10em;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 10em;
        i {
            animation: loading 3s linear infinite;
            display: block;
            font-size: 4em;
            height: 2em;
            left: 50%;
            line-height: 2em;
            margin-left: -1em;
            margin-top: 0.1em;
            position: absolute;
            width: 2em;
        }
        @keyframes loading {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
    .article {
        background-color: $darkerGrey;
        box-sizing: border-box;
        display: table;
        margin: 0.5em auto;
        width: 100%;
        &:nth-child(odd) {
            background-color: $darkGrey;
        }
        & > * {
            box-sizing: border-box;
            display: table-cell;
            padding: 0.5em;
            vertical-align: middle;
        }
        .title {
            font-weight: bold;
            width: 25%;
        }
        .date {
            background-color: $green;
            color: $textOnGreen;
            width: 17%;
        }
        .description {
            clear: both;
            width: 46%;
            a {
                color: $green;
            }
            br, img, .feedflare {
                display: none;
            }
            .description-container {
                max-height: 10vh;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
        .link {
            text-align: right;
            width: 12%;
            &:hover {
                background-color: $green;
                color: $textOnGreen;
            }
        }
    }
}