extend ../fragments/_header
append content
    div.loginArea
        - for(var prop in message)
            div #{message[prop]}
        form(action='/login', method='post')
            h2 Login
            label Email
                input(type='text', name='email')
            label Password
                input(type='password', name='password')
            button(type='submit') Login
        p Need an account?
            a(href='/register') Register
        p Want to login with something else?
            ul.loginOptions
                li 
                    a.facebookButton(href='/auth/facebook') 
                        i.icon-facebook Facebook