extend ../fragments/_auth_header
append content
    h4 Predictions
    table.predictions
        thead
            tr
                th Status
                th Symbol
                th Company
                th Close
                th Prediction
                th Time Predicted
        tbody
            for company in companies
                tr(class='company')
                    td
                    td #{company.symbol}
                    td #{company.name}
                    td
                    td