extend ../fragments/_auth_header
append content
    p Predictions
    table.predictions
    	thead
	    	tr
	    		th Status
	    		th Symbol
	    		th Company
	    		th Close
	    		th Prediction
	    		th Time Predicted
    	tbody
    		tr
    			td
    			td
    			td
    			td
    			td
    			td