extend ../fragments/_auth_header
block vars
append content
    if company 
        h4 #{company.symbol} | #{company.name}
            small #{company.market}
        h5 Current Information
            div.currentInfo
        h5 Market Information
            small Currently at #{company.quotes[company.quotes.length - 1].LastPrice}
        div#chart
        script(type='text/javascript', src='/vendor/d3/d3.min.js')
        script(type='text/javascript', src='/vendor/c3/c3.min.js')
        script(type='text/javascript', src='/javascripts/api.js')
        script(type='text/javascript', src='/javascripts/companyDetail.js')
    else
        div.companyDetailError
            h4 Error!
            p This company hasn't been fully generated yet! Please try again later.
                a(href='/companies') Back to your list.
   