extend ../fragments/_auth_header
append content
    h4 News
    div.news
        div#loading Loading News
            i.icon-arrows-cw
    script(type='text/javascript', src='/javascripts/api.js')  
    script(type='text/javascript', src='/javascripts/news.js')
