doctype html
head
  title Stock Market Prediction
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="/vendor/fontello/css/s-m-p.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
body
  header.main-header Stock Market Prediction
  section.main-section
    block content